html {
  font-family: "Fredoka One", sans-serif;
}

.banner {
  background-image: repeating-linear-gradient(-33deg, #c9fcff, #d4fdff 2%);
  border-top: 8px solid #b3fbff;
  border-bottom: 8px solid #b3fbff;
  height: 496px;
}

.intro-para {
  position: absolute;
  top: 105px;
  left: 58px;
  opacity: 0;
  animation: intro-paragraph .5s .8s linear forwards;
}

h1 {
  color: #990073;
  transform: rotate(-9deg);
  margin-left: -10px;
}

p {
  color: #c09;
  transform: rotate(-5deg);
  max-width: 19em;
}

h1,
p,
a {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

h1,
p {
  transform-origin: left center;
}

.btn-ghost {
  color: #c09;
  border-color: #990073;
}

.btn-ghost:hover {
  background-color: rgba(209, 32, 162, .2);
}

.cone {
  height: 180px;
  position: absolute;
  top: -200px;
  right: 72px;
  animation: cone-fall .5s linear forwards;
}

.mint-chip {
  height: 180px;
  position: absolute;
  top: -300px;
  right: 72px;
  animation: mint-fall .5s .4s linear forwards;
}

.chocolate-chip {
  z-index: 1;
  height: 180px;
  position: absolute;
  top: -400px;
  right: 66px;
  animation: chip-fall .5s .6s linear forwards;
}

.vanilla-fudge {
  z-index: 2;
  height: 180px;
  position: absolute;
  top: -500px;
  right: 76px;
  animation: fudge-fall .5s .8s linear forwards;
}

.cherry {
  z-index: 3;
  height: 180px;
  position: absolute;
  top: -600px;
  right: 73px;
  animation: cherry-fall .5s 1s linear forwards;
}

@keyframes cone-fall {

  0% {
    top: -200px;
    right: 72px;
  }

  100% {
    top: 300px;
    right: 72px;
  }

}

@keyframes mint-fall {

  0% {
    top: -300px;
    right: 72px;
  }

  100% {
    top: 196px;
    right: 72px;
  }

}

@keyframes chip-fall {

  0% {
    top: -400px;
    right: 66px;
  }

  100% {
    top: 110px;
    right: 66px;
  }

}

@keyframes fudge-fall {

  0% {
    top: -500px;
    right: 76px;
  }

  100% {
    top: 36px;
    right: 76px;
  }

}

@keyframes cherry-fall {

  0% {
    top: -600px;
    right: 73px;
  }

  100% {
    top: -43px;
    right: 73px;
  }

}

@keyframes intro-paragraph {

  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}
